<nav >
  <ul class="pagination">
    <li class="page-item" *ngIf="pagesetting.pageIndex>0">
      <a href="#" (click)="selectPageItem(pagesetting.pageIndex-1)">
        <span>&lt;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of arrayOne(pagesetting.pages);let i=index">
      <a href="#" (click)="selectPageItem(i)" [ngClass]="{'selected-page': i==pagesetting.pageIndex}">
        <span>{{i+1}}</span>
      </a>
    </li>
    <li class="page-item" *ngIf="pagesetting.pageIndex<(pagesetting.pages-1)">
      <a href="#" (click)="selectPageItem(pagesetting.pageIndex+1)">
        <span>&gt;</span>
      </a>
    </li>
  </ul>
</nav>
